@font-face {
    font-family: 'Roboto-Regular';
    src: url("./assets/fonts/Roboto-Regular.ttf");
}

$tomato: hsl(4, 100%, 67%);
$dark-slate-grey: hsl(234, 29%, 20%);
$charcoal-grey: hsl(235, 18%, 26%);
$grey: hsl(231, 7%, 60%);

.hidden {
    display: none !important; 
}

@mixin button-design {
    width: 100%;
    height: 3.5rem;
    margin-top: 1.5rem;
    color: white;
    background-color: $dark-slate-grey;
    border-radius: 0.5rem;
    border: none;

    &:active {
        background-color: $tomato;
    }

    &:hover {
        cursor: pointer;
    }
}

body {
    font-family: 'Roboto-Regular';
    background-color: $charcoal-grey;
    margin: 0;
}

.signup {
    min-height: 100vh;
    min-width: 100%;
    max-width: 100%;
    background-color: white;

    &__image {
        &-mobile {
            width: 100%;
        }

        &-desktop {
            display: none;
        }
    }

    &__content {
        color: $dark-slate-grey;
        padding: 0 1.5rem 1.5rem;
    }

    &__title {
        font-size: 2.5rem;
        font-weight: bold;
    }

    &__list {
        width: 100%;
        margin-top: 1.5rem;
        &-item {
            list-style: none;
            &::before {
                position: absolute;
                left: 1.5rem;
                width: 2rem;
                height: 2rem;
                content: "";
                background-image: url("./assets/images/icon-list.svg");
                background-repeat: no-repeat;
            }
        }
    }

    &__label-container {
        display: flex;
        justify-content: space-between;
    }

    &__label-container {
        height: 1rem;
        margin-top: 2.5rem;
        margin-bottom: 0.4rem;
    }

    &__label {
        font-size: 0.8rem;
        font-weight: bold;
        line-height: 1rem;
    }

    &__error {
        right: 1.5rem;
        font-size: 0.8rem;
        font-weight: bold;
        line-height: 1rem;
        color: red;
    }

    &__input {
        width: 100%;
        height: 3.5rem;
        padding: 1.5rem;
        border: 1px solid $grey;
        border-radius: 0.5rem;
        outline: none;

        &:valid {
            border: 2px solid $dark-slate-grey;
            color: $dark-slate-grey;
            background-color: white;
        }

        &:invalid {
            border: 2px solid red;
            color: rgba(256, 0, 0, 0.7);
            background-color: rgba(256, 0, 0, 0.1);
        }

    }

    &__button {
        @include button-design();
    }
}

.success {
    display: flex;
    flex-direction: column;
    color: $dark-slate-grey;
    background-color: white;
    min-height: 100vh;
    padding: 1.5rem;
    padding-top: 8rem;

    &__icon {
        width: 20%;
    }

    &__message {
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 3rem;
    }

    &__details {
        word-wrap: break-word;
    }

    &__button {
        @include button-design();
        margin-top: auto;
    }
}

@media (min-width: 400px) {

    main {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .signup {
        display: flex;
        min-width: 43rem;
        max-width: 43rem;
        min-height: 28.5rem;
        max-height: 28.5rem;
        border-radius: 1.5rem;
        padding: 1rem;
        margin-left: 0.5rem;

        &__image {
            &-mobile {
                display: none;
            }

            &-desktop {
                display: block;
                order: 2;
                margin-right: -3.5rem;
            }
        }

        &__content {
            order: 1;
            margin-left: 1rem;
            padding: 1rem;
        }

        &__title {
            font-size: 2.5rem;
            margin-top: 1.5rem;
        }
        
        &__description {
            font-size: 0.7rem;
        }

        &__list {
            position: relative;
            font-size: 0.7rem;
            margin-top: 0.7rem;
            &-item {
                margin-left: -0.9rem;
                line-height: 1.5rem;

                &::before {
                    transform: scale(0.7);
                    margin-left: -1.8rem;
                }
            }
        }

        &__label-container{
            margin-top: 1.5rem;
        }

        &__label {
            font-size: 0.5rem;
        }

        &__error {
            font-size: 0.5rem;
            font-weight: bold;
        }

        &__input {
            font-size: 0.7rem;
            height: 2rem;
            padding: 1.1rem;
        }

        &__button {
            font-size: 0.7rem;
            height: 2.5rem;
            margin-top: 1rem;
        }
    }

    .success {
        min-height: 23rem;
        min-width: 22.5rem;
        max-width: 22.5rem;
        border-radius: 1.5rem;
        padding: 2.8rem;
        padding-top: 2.3rem;
        
        &__icon {
            width: 16%;
        }

        &__message {
            margin-top: 1.8rem;
            line-height: 2.5rem;
        }

        &__details {
            font-size: 0.74rem;
            margin-top: 1rem;
        }

        &__button {
            font-size: 0.7rem;
            height: 2.5rem;
            margin-top: 1.5rem;
            padding: 1rem;
        }
        
    }
}